<section class="blog-nav">
    <div class="container d-flex jcsb aic">
        <ul class="d-flex gap-48">
            <li><a href="" class="blog-menu">最新消息</a></li>
            <li><a href="" class="blog-menu">特別企劃</a></li>
            <li><a href="" class="blog-menu">新品上市</a></li>
            <li><a href="" class="blog-menu">鏡框小知識</a></li>
        </ul>
        <p class="d-flex aic">
            <input type="checkbox" id="search" name="search" class="search-ctrl close">
            <label for="search" class="search-icon">
                <img src="/assets/images/search_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.png" alt="search-open" class="img mw-40 search-open">
                <img src="/assets/images/close_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.png" alt="close" class="img mw-40 search-close">
            </label>
            <input type="text" placeholder="請輸入搜尋內容" class="search-btn">
        </p>
    </div>
</section>