<footer class="footer">
    <div class="container pt-48">
        <div class="d-flex jcsb footer-box minus-my-12">
            <div class="col-9">
                <nav class="d-flex flex-d-col jcsb">
                    <ul class="d-flex gap-64 py-12 footer-menu-ctrl">
                        <li><a href="index.html" class="footer-menu">首頁</a></li>
                        <li><a href="product.html" class="footer-menu">系列鏡框</a></li>
                        <li><a href="location.html" class="footer-menu">門市據點</a></li>
                        <li><a href="blog.html" class="footer-menu">部落格</a></li>
                        <li><a href="question.html" class="footer-menu">常見問題</a></li>
                    </ul>
                    <div class="pb-32 pt-24">
                        <div class="d-flex gap-16 aic">
                            <a href="tel:0800 000 00"><img src="/assets/images/call_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.png" alt="tel" class="mw-48 img"></a>
                            <h2><a href="tel:0800 000 00" class="contact-information">0800-000-00</a></h2>
                        </div>
                        <div class="d-flex gap-16 aic">
                            <a href="mailto:glasses@business.co"><img src="/assets/images/mail_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.png" alt="mail" class="mw-48 img"></a>
                            <h2><a href="mailto:glasses@business.co" class="contact-information">glasses@business.com</a></h2>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-3">
                <div class="d-flex jcfe gap-32">
                    <a href="#"><img src="/assets/images/ic-social-fb.png" alt="facebook" class="img mw-48"></a>
                    <a href="#"><img src="/assets/images/ic_social_ig.png" alt="instagram" class="img mw-48"></a>
                    <a href="#"><img src="/assets/images/ic_social_line.png" alt="line" class="img mw-48"></a>
                </div>
            </div>
        </div>
        <div class="d-flex jcsb pt-32 pb-32 footer-copy-ctrl">
            <p class="copyright">Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="d-flex gap-48 footer-copy-ctrl">
                <p><a href="#" class="copyright fz-xs">隱私權政策</a></p>
                <p><a href="#" class="copyright fz-xs">服務條款</a></p>
            </div>
        </div>
    </div>
</footer>