<header class="header">
    <div class="container py-16">
        <nav class="d-flex jcsb aic header-ctrl">
            <div class="col-3">
                <h1 class="logo"><a href="index.html" ><img src="/assets/images/logo-white.png" alt="logo" class="img mw-80">眼鏡官網</a></h1>
            </div>
            <div class="col-9 minus-my-12">
                <ul class="d-flex jcfe gap-64 header-menu-ctrl">
                    <li class="col-2-m border-y border-x"><a href="product.html" class="menu-list">系列鏡框</a></li>
                    <li class="col-2-m border-y"><a href="location.html" class="menu-list">門市據點</a></li>
                    <li class="col-2-m border-x"><a href="blog.html" class="menu-list">部落格</a></li>
                    <li class="col-2-m"><a href="question.html" class="menu-list">常見問題</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>