<div class="pagenation">
    <ul class="d-flex jcc aic py-12">
      <li><a href="#" class="next-back-btn pre-btn pages fz-page">上一頁</a></li>
      <li><a href="#" class="page-btn pages fz-pages">1</a></li>
      <li><a href="#" class="page-btn pages fz-pages">2</a></li>
      <li><a href="#" class="page-btn pages fz-pages">3</a></li>
      <li><a href="#" class="page-btn pages fz-pages">4</a></li>
      <li><a href="#" class="page-btn pages fz-pages">5</a></li>
      <li><a href="#" class="next-back-btn next-btn pages fz-page">下一頁</a></li>
    </ul>
  </div>