<!DOCTYPE html>
<html lang="zh-hant-tw">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>眼鏡官網-部落格</title>
    </head>
    <body>
        <%- include('./layout/header'); -%>
        <%- include('./layout/blog-nav'); -%>

        <main class="blog-article">
            <div class="container pt-24 pb-80">
                <p>首頁/部落格/特別企劃/<span class="mark">情人節特別企劃</span></p>
                <p class="hash-tags py-8">#special&nbsp; #event</p>
                <section class="d-flex minus-my-12">
                    <div class="col-8">
                        <div class="article-card">
                            <h2 class="article-name">情人特別規劃</h2>
                            <h3 class="en-name">2020 Valentine's Special</h3>
                            <div class="d-flex flex-d-col minus-my-12 pt-16">
                                <div class="col-12">
                                    <div class="article-card-sm pb-40">
                                        <img src="/assets/images/blogpage-1.png" alt="blogpage-1" class="img">
                                        <p class="article">一年一度西洋情人節即將到來，我們推出最強“情人節策劃”，為這個甜蜜的節日加溫。 這次拍攝的鏡框款式與NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="article-card-sm pb-40">
                                        <img src="/assets/images/blogpage-2.png" alt="blogpage-2" class="img">
                                        <p class="article">一年一度西洋情人節即將到來，我們推出最強“情人節策劃”，為這個甜蜜的節日加溫。 這次拍攝的鏡框款式與NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="article-card-sm pb-40">
                                        <img src="/assets/images/blogpage-3.png" alt="blogpage-3" class="img">
                                        <p class="article">一年一度西洋情人節即將到來，我們推出最強“情人節策劃”，為這個甜蜜的節日加溫。 這次拍攝的鏡框款式與NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="article-card-sm pb-40">
                                        <img src="/assets/images/blogpage-4.png" alt="blogpage-4" class="img">
                                        <p class="article">2/14(五)-2/20(日) <br>至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br>期間優惠還有~~持他牌鏡框更換鏡片<br>薄型非球面鏡片折300元<br>濾藍光鏡片折500元<br>快快帶上另一半<br>讓彼此每一次睜開眼，都被愛的視線包圍!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 tags-close">
                        <div class="tags-card">
                            <h3 class="tags-mark">TAGS</h3>
                            <div class="d-flex gap-24">
                                <P class="tags">#special</p> 
                                <p class="tags">#sale</P>
                            </div>
                            <div class="d-flex gap-24 f-wrap-m">
                                <P class="tags">#new_item</p> 
                                <p class="tags">#interview</P>
                            </div>
                            <div class="d-flex gap-24">
                                <P class="tags">#trivia</p>
                                <p class="tags">#news</P>
                            </div>
                            <P class="tags">#event</P>
                        </div>
                    </div>
                </section>
                <section class="minus-my-12 share-container">
                    <div class="col-8">
                        <div class="share-box d-flex gap-16">
                            <p class="share">Share</p>
                            <a href="#"><img src="/assets/images/logo-facebook.png" alt="logo-facebook" class="img share-logo"></a>
                            <a href="#"><img src="/assets/images/logo-instagram.png" alt="logo-instagram" class="img share-logo"></a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="d-flex jcsb pt-20">
                            <p><a href="">← 上一篇：街頭潮人訪問 1</a></p>
                            <p><a href="">下一篇：街頭潮人訪問 2 →</a></p>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
    </body>
</html>