<!DOCTYPE html>
<html lang="zh-hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="home-banner">
      <div class="container">
        <div class="home-banner-box d-flex aic jcfe">
          <div class="text-ar">
            <p class="sec-slogan">Promise-Desert 2020 早春系列</p>
            <h2 class="slogan mb-10">看得清，才能看得遠</h2>
            <a href="#" class="btn-sm buy">立即購買</a>
          </div>
        </div>
      </div>
    </section>
    <section class="home-promote">
      <div class="container py-80">
        <h2 class="title pb-24">用專業的心，做專業的事</h2>
        <div class="d-flex minus-my-12 flex-w">
          <div class="col-3">
            <div class="promote-card">
              <img src="/assets/images/home-section2-1.png" alt="paid" class="mw-100 img my-auto">
              <h3 class="text-ac pt-16 pb-8">單一價格</h3>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
          </div>
          <div class="col-3">
            <div class="promote-card">
              <img src="/assets/images/home-section2-2.png" alt="schedule" class="mw-100 img my-auto">
              <h3 class="text-ac pt-16 pb-8">20 分鐘即可取件</h3>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結賬到交件的時間縮減至最快20 分鐘即可完成。</p>
            </div>
          </div>
          <div class="col-3">
            <div class="promote-card">
              <img src="/assets/images/home-section2-3.png" alt="favorite" class="mw-100 img my-auto">
              <h3 class="text-ac pt-16 pb-8">安心售後服務</h3>
              <p>我們提供長達120 天的保修售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </div>
          </div>
          <div class="col-3">
            <div class="promote-card">
              <img src="/assets/images/home-sectioin2-4.png" alt="voicemail" class="mw-100 img my-auto">
              <h3 class="text-ac pt-16 pb-8">關於鏡片</h3>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-classic">
      <div class="container py-80">
        <h2 class="title">經典系列鏡框</h2>
        <div class="d-flex pt-48 minus-my-12 flex-w jcc">
          <div class="col-4">
            <div class="classic-card">
              <a href="product.html">
                <img src="/assets/images/home-section3-1.png" alt="optical" class="img pb-8">
                <h3 class="title color-sec w-break-keep">OPTICAL</h3>
              </a>
            </div>
          </div>
          <div class="col-4">
            <div class="classic-card">
              <a href="product.html">
                <img src="/assets/images/home-section3-2.png" alt="sunglasses" class="img pb-8">
                <h3 class="title color-sec w-break-keep">SUNGLASSES</h3>
              </a>
            </div>
          </div>
          <div class="col-4">
            <div class="classic-card">
              <a href="#">
                <img src="/assets/images/home-section3-3.png" alt="functional" class="img pb-8">
                <h3 class="title color-sec w-break-kepp">FUNCTIONAL</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-design">
      <div class="container py-80">
        <h2 class="title color-white">聯名設計鏡框</h2>
        <div class="d-flex pt-48 flex-w minus-my-12">
          <div class="col-6">
            <div class="design-card">
              <a href="#">
                <picture>
                  <source srcset="/assets/images/home-section4-1-sm.png" media="(max-width: 375px)"/>
                  <img src="/assets/images/home-section4-1.png" alt="double A+" class="img">
                </picture>
                <div class="title py-8 design-item">DOUBLE A+</div>
              </a>
            </div>
          </div>
          <div class="col-6">
            <div class="design-card">
              <a href="#">
                <picture>
                  <source srcset="/assets/images/home-section4-2-sm.png" media="(max-width:375px)">
                  <img src="/assets/images/home-section4-2.png" alt="youth" class="img">
                </picture>
                <div class="title py-8 design-item">YOUTH</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-recommend">
      <div class="container py-80">
          <div class="title">顧客推薦</div>
          <div class="d-flex pt-48 minus-my-12 flex-w">
            <div class="col-3">
              <div class="recommend-card">
                <a href="#">
                  <img src="/assets/images/home-section5-1.png" alt="jessy" class="img">
                  <div class="d-flex flex-d-col h-205 jcsb pxy-16">
                      <div >
                          <p>Jessy</p>
                          <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                      </div>
                      <p class="home-card-date">2021/06/20</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="recommend-card">
                <a href="#">
                  <img src="/assets/images/home-section5-2.png" alt="凱倫" class="img">
                  <div class="d-flex flex-d-col h-205 jcsb pxy-16">
                      <div>
                          <p>凱倫</p>
                          <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                      </div>
                      <p class="home-card-date">2021/04/18</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="recommend-card">
                <a href="#">
                  <img src="/assets/images/home-section5-3.png" alt="悠悠" class="img">
                  <div class="d-flex flex-d-col h-205 jcsb pxy-16">
                      <div>
                          <p>悠悠</p>
                          <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                      </div>
                      <p class="home-card-date">2020/12/25</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="recommend-card">
                <a href="#">
                  <img src="/assets/images/home-section5-4.png" alt="kyuan" class="img">
                  <div class="d-flex flex-d-col h-205 jcsb pxy-16">
                      <div>
                          <p>Kyuan</p>
                          <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                      </div>
                      <p class="home-card-date">2020/10/31</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
      </div>
  </section> 
  <section class="home-feedback">
        <div class="container py-80">
            <div class="col-6 my-auto">
              <div class="minus-my-12">
                <h2 class="title">聯絡我們</h2>
                <div class="d-flex flex-d-col gap-16 table-box">
                  <p class="pt-48 pb-24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                  <table>
                    <div>
                      <label for="name" class="block pb-8">姓名</label>
                      <input type="text" placeholder="陳小明" id="name" class="input py-6 px-6">
                    </div>
                    <div>
                      <label for="tel" class="block pb-8">連絡電話</label>
                      <input type="tel" placeholder="0912-345-678" id="tel" class="input py-6 px-6">
                    </div>
                    <div>
                      <label for="email" class="block pb-8">電子郵件</label>
                      <input type="mail" placeholder="example@email.com" id="email" class="input py-6 px-6">
                    </div>
                    <div>
                      <label for="feedback" class="block pb-8">意見反映</label>
                      <textarea name="feedback" id="feedback" rows="6" placeholder="請輸入您的意見" class="block input py-6 px-6"></textarea>
                    </div>
                    <div>
                      <input type="checkbox" id="agreement">
                      <label for="agreement">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                    </div>
                  </table>
                </div>
                <div class="pt-32">
                  <input type="submit" value="確認送出" class="btn submit my-auto block col-6">
                </div>
              </div>
            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
