<!DOCTYPE html>
<html lang="zh-hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網-系列鏡框</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="product-list">
      <div class="container">
        <div class="d-flex minus-my-12">
          <div class="col-4 px-0">
            <div class="product-list-card text-ac">
              <label for="optical" class="product-title title-md color-black py-24 block">OPTICAL</label>
            </div>
          </div>
          <div class="col-4 px-0">
            <div class="product-list-card text-ac">
              <label for="sunglasses" class="product-title title-md block color-black py-24">SUNGLASSES</label>
            </div>
          </div>
          <div class="col-4 px-0">
            <div class="product-list-card text-ac">
              <label for="functional" class="product-title title-md color-black py-24 block">FUNCTIONAL</label>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="product-banner">
      <input type="radio" name="list" id="optical" checked class="product-list-ctrl">
      <label for="optical" class="close">
        <div class="d-flex">
          <picture>
            <source srcset="/assets/images/product-header-sm-1.png" media="(max-width: 767px)" class="img"/>
            <img src="/assets/images/product-header-1.png" alt="banner-image1" class="img">
          </picture>
          <picture>
            <source srcset="/assets/images/product-header-sm-2.png" media="(max-width: 767px)" class="img"/>
            <img src="/assets/images/product-header-2.png" alt="banner-image2" class="img">
          </picture>
        </div>
        <div class="product-item">
          <div class="container pt-80">
            <p class="product-title title-sm text-ac">Celluloid Combi</p>
            <p class="product-title title-sm text-ac">賽璐珞鈦金屬混合鏡框</p>
            <div class="d-flex f-wrap minus-my-12 pt-32">
              <div class="col-3">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-1.png" alt="product-1" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-2.png" alt="product-2" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-3.png" alt="product-3" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-4.png" alt="product-4" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-5.png" alt="product-5" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3 close-sm">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-6.png" alt="product-6" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3 close-sm">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-1.png" alt="product-1" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3 close-sm">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-2.png" alt="product-2" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3 close-sm">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-3.png" alt="product-3" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3 close-sm">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-4.png" alt="product-4" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3 close-md">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-5.png" alt="product-5" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-3 close-md">
                <div class="item-card pb-80 d-flex flex-d-col">
                  <img src="/assets/images/product-6.png" alt="product-6" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>
      <input type="radio" name="list" id="sunglasses" class="product-list-ctrl">
      <label for="sunglasses" class="close">
        <div class="d-flex">
          <picture>
            <source srcset="/assets/images/product-header-sm-3.png" media="(max-width: 767px)" class="img"/>
            <img src="/assets/images/product-header-3.png" alt="banner-image1" class="img">
          </picture>
          <picture>
            <source srcset="/assets/images/product-header-sm-4.png" media="(max-width: 767px)" class="img"/>
            <img src="/assets/images/product-header-4.png" alt="banner-image2" class="img">
          </picture>
        </div>
        <div class="product-item">
          <div class="container pt-80">
            <p class="product-title text-ac title-sm">2020 NEW COLLECTION</p>
            <p class="product-title text-ac title-sm">賽璐珞鈦金屬混合鏡框</p>
            <div class="d-flex f-wrap minus-my-12 pt-32">
              <div class="col-4 ">
                <div class="item-card d-flex flex-d-col pb-80">
                  <img src="/assets/images/product-7.png" alt="product-7" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="item-card d-flex flex-d-col pb-80">
                  <img src="/assets/images/product-8.png" alt="product-8" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="item-card d-flex flex-d-col pb-80">
                  <img src="/assets/images/product-9.png" alt="product-9" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="item-card d-flex flex-d-col pb-80">
                  <img src="/assets/images/product-10.png" alt="product-10" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="item-card d-flex flex-d-col pb-80">
                  <img src="/assets/images/product-11.png" alt="product-11" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="item-card d-flex flex-d-col pb-80">
                  <img src="/assets/images/product-12.png" alt="product-12" class="img">
                  <div class="d-flex jcsb aic">
                    <p class="product-number">BJ41600S</p>
                    <p class="product-price">NTD3,490</p>
                  </div>
                  <div class="d-flex jcfs gap-8">
                    <p class="color-box1"></p>
                    <p class="color-box2"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>
      <input type="radio" name="list" id="functional" class="product-list-ctrl">
      <label for="sunglasses" class="close">
        <div class="d-flex">
          <picture>
            <source srcset="/assets/images/product-header-sm-3.png" media="(max-width: 767px)" class="img"/>
            <img src="/assets/images/product-header-3.png" alt="banner-image1" class="img">
          </picture>
          <picture>
            <source srcset="/assets/images/product-header-sm-4.png" media="(max-width: 767px)" class="img"/>
            <img src="/assets/images/product-header-4.png" alt="banner-image2" class="img">
          </picture>
        </div>
      </label>
      <div class="container pb-80">
        <%- include('./layout/pagenation'); -%>
      </div>
    </section>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
